<html>
	<head>
		<title>Bulletin Board</title>
	</head>
	<body>
		<table>
			<% for (let i = 0; i < messages.length; i++) { %>
				<tr>
					<td><%= messages[i].title %> </td>
					<td><%= messages[i].body %> </td>
					<td><%= messages[i].timestamp %> </td>
				</tr>
			<% } %>
		</table>

		<form method="post">
			<input type="text" name="title" placeholder="title" />
			<input type="text" name="body" placeholder="body"/>
			<button>Add</button>
		</form>
	</body>

</html>
