<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<title>Food Board</title>
	</head>
	<body>

		<h1>Food Board</h1>

		<p>
			Everything food related! Post your favorite food, recipes, or places to eat!
		</p>

		<table>
			<% for (let i = 0; i < messages.length; i++) { %>
				<tr>
				 <td><%= messages[i].title %> </td>
				 <td><%= messages[i].body %> </td>
				 <!-- <td><%= messages[i].created %> </td> -->
				</tr>
			<% } %>
		</table>

		<a href="/form">Post Your Favorite Foods!</a>

	</body>

</html>
