<html>
	<head>
		<title>Bulletin Board</title>
	</head>
	<body>
		<table>
			<% for (let i = 0; i < messages.length; i++) { %>
				<tr>
				 <td><%= messages[i].title %> </td>
				 <td><%= messages[i].body %> </td>
				 <td><%= messages[i].created %> </td>
				</tr>
			<% } %>
		</table>

		<a href="http://localhost:3000/form">View database</a>

	</body>

</html>
