<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./css/resets.css">
		<link rel="stylesheet" type="text/css" href="./css/styleerror.css">
		<title>YOU'RE A ROTTEN TOMATO!!</title>
	</head>

	<body>
<p>
		<img src="/css/images/rottentomato.png" id="tomato" class="photo"></div>
</p>

	<p1>
		Don't be a rotten tomato!
	</p1>

	<p2>
		You need to post both items for the best results!
	</p2>

	</body>

</html>
